## Sentiment Analysis of Trump Tweets

The notebook follows the tutorial of Amazon comprehend to generate an example sentiment analysis with Trump's tweets:
https://aws.amazon.com/blogs/machine-learning/detect-sentiment-from-customer-reviews-using-amazon-comprehend/

First import the packages.

In [14]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)  
pd.set_option('display.max_colwidth', -1)

Now loading the tweets from trump.

In [15]:
df_tweets = pd.read_csv('data/trumptweets-1515775693.tweets.csv')

In [58]:
df_tweets.head()

,status_id,created_at,user_id,screen_name,text,source,display_text_width,reply_to_status_id,reply_to_user_id,reply_to_screen_name,is_quote,is_retweet,favorite_count,retweet_count,hashtags,symbols,urls_url,urls_t.co,urls_expanded_url,media_url,media_t.co,media_expanded_url,media_type,ext_media_url,ext_media_t.co,ext_media_expanded_url,ext_media_type,mentions_user_id,mentions_screen_name,lang,quoted_status_id,quoted_text,quoted_created_at,quoted_source,quoted_favorite_count,quoted_retweet_count,quoted_user_id,quoted_screen_name,quoted_name,quoted_followers_count,quoted_friends_count,quoted_statuses_count,quoted_location,quoted_description,quoted_verified,retweet_status_id,retweet_text,retweet_created_at,retweet_source,retweet_favorite_count,retweet_user_id,retweet_screen_name,retweet_name,retweet_followers_count,retweet_friends_count,retweet_statuses_count,retweet_location,retweet_description,retweet_verified,place_url,place_name,place_full_name,place_type,country,country_code,geo_coords,coords_coords,bbox_coords
0,x1864367186,2009-05-20 22:29:47,x25073877,realDonaldTrump,Read a great interview with Donald Trump that appeared in The New York Times Magazine: http://tinyurl.com/qsx4o6,Twitter Web Client,112,NaN,NaN,NaN,False,False,11,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,x9273573134835712,2010-11-29 15:52:46,x25073877,realDonaldTrump,"Congratulations to Evan Lysacek for being nominated SI sportsman of the year. He's a great guy, and he has my vote! #EvanForSI",Twitter Web Client,127,NaN,NaN,NaN,False,False,7,32,EvanForSI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,x29014512646,2010-10-28 18:53:40,x25073877,realDonaldTrump,"I was on The View this morning. We talked about The Apprentice. Tonight's episode is a great one--tough, exciting and surprising. 10 pm/NBC",Twitter Web Client,139,NaN,NaN,NaN,False,False,6,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,x7483813542232064,2010-11-24 17:20:54,x25073877,realDonaldTrump,Tomorrow night's episode of The Apprentice delivers excitement at QVC along with appearances by Isaac Mizrahi and Cathie Black. 10 pm on NBC,Twitter Web Client,140,NaN,NaN,NaN,False,False,17,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,x5775731054,2009-11-16 21:06:10,x25073877,realDonaldTrump,"Donald Trump Partners with TV1 on New Reality Series Entitled, Omarosa's Ultimate Merger: http://tinyurl.com/yk5m3lc",Twitter Web Client,116,NaN,NaN,NaN,False,False,3,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_tweets.describe()

,display_text_width,favorite_count,retweet_count,ext_media_type,quoted_source,quoted_favorite_count,quoted_retweet_count,quoted_followers_count,quoted_friends_count,quoted_statuses_count,retweet_source,retweet_favorite_count,retweet_followers_count,retweet_friends_count,retweet_statuses_count
count,32826.000000,32826.000000,32826.000000,0.0,0.0,276.000000,276.000000,2.760000e+02,276.000000,276.000000,0.0,494.000000,4.940000e+02,494.000000,494.000000
mean,109.698257,9055.790806,2804.625053,NaN,NaN,7841.217391,4041.894928,5.500690e+06,3337.996377,49810.717391,NaN,29565.587045,3.346368e+06,6986.408907,44878.412955
std,35.857616,26286.393818,7946.080350,NaN,NaN,44475.708665,33723.741706,1.338773e+07,13728.875815,80816.639783,NaN,22907.405341,8.771462e+06,39068.233127,72935.437182
min,4.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000,2.000000e+00,0.000000,44.000000,NaN,2155.000000,6.960000e+02,2.000000,128.000000
25%,89.000000,22.000000,18.000000,NaN,NaN,92.000000,69.750000,6.430250e+03,122.750000,6822.000000,NaN,13103.500000,2.623232e+05,45.000000,5329.000000
50%,122.000000,76.000000,121.000000,NaN,NaN,822.500000,585.500000,1.764690e+05,593.000000,19131.000000,NaN,25364.000000,1.108517e+06,586.000000,13915.000000
75%,137.000000,2125.750000,1320.750000,NaN,NaN,4359.000000,2014.750000,1.742667e+06,1800.500000,43122.250000,NaN,38698.500000,2.002899e+06,1557.000000,42848.500000
max,296.000000,617587.000000,361835.000000,NaN,NaN,714674.000000,557891.000000,4.656257e+07,194242.000000,486261.000000,NaN,171077.000000,9.890372e+07,625524.000000,353748.000000

Assign a rec_id to each row.

In [9]:
df_tweets = df_tweets.assign(rec_id=np.arange(len(df_tweets))).reset_index(drop=True)

Now generate for each tweet an txt file. After that we load the txt files in AWS S3 bucket.

In [10]:
file = 'data/trumptweets/trumptweets_rec_id_{}.txt'

for index, row in df_tweets[:1000].iterrows():
    rec_id = row['rec_id']
    with open (file.format(rec_id), 'w') as f:
        f.write(str(row['text']))

Create table with Amazon Athena to query the results of sentiment analysis. Now we can query the table and sort the tweets according to the negative score.

``` mysql
CREATE EXTERNAL TABLE IF NOT EXISTS default.ReviewSentimentAnalysis (
  `ImageLocation` string,
  `Timestamp` string,   
  `Sentiment` string,
  `Positive` string,
  `Negative` string,
  `Neutral` string,
  `Mixed` string
  )
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
WITH SERDEPROPERTIES (
  'serialization.format' = ',',
  'field.delim' = ','
) LOCATION 's3://<bucket_name>/sentiment/'
;

SELECT *
FROM default.ReviewSentimentAnalysis
WHERE sentiment = 'NEGATIVE'
  AND imagelocation LIKE '%trump%'
ORDER BY negative DESC;
```

In [11]:
df_tweets[df_tweets['rec_id']==806]['text']

806    Disappointed in GOP and Dems---Giving Obama power to raise the debt limit next year is  a mistake.
Name: text, dtype: object

In [12]:
df_tweets[df_tweets['rec_id']==505]['text']

505    Why is the UN condemning @Israel and doing nothing about Syria? What a disgrace.
Name: text, dtype: object

In [13]:
df_tweets[df_tweets['rec_id']==700]['text']

700    @BarackObama is so inept that I think he simply  made a mistake in originally scheduling the Joint Session on September 7th. Just sad.
Name: text, dtype: object